<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NewNtrClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <userSettings>
        <NewNtrClient.Properties.Settings>
            <setting name="ipAddress" serializeAs="String">
                <value>192.168.1.45</value>
            </setting>
            <setting name="port" serializeAs="String">
                <value>8000</value>
            </setting>
        </NewNtrClient.Properties.Settings>
    </userSettings>
</configuration>